doctype html 
head
  title ORNL Scientific Workspace
  link(id="bs-css", href="/doi/css/bootstrap-cerulean.css", rel="stylesheet",type="text/css")
  link(href="/doi/css/bootstrap-responsive.css", rel="stylesheet",type="text/css")
  link(href="/doi/css/charisma-app.css", rel="stylesheet",type="text/css")
  link(href="/doi/css/jquery-ui-1.8.21.custom.css", rel="stylesheet",type="text/css")
  link(href="/doi/css/fullcalendar.css", rel="stylesheet",type="text/css")
  link(href="/doi/css/fullcalendar.print.css", rel="stylesheet",type="text/css")
  link(href="/doi/css/chosen.css", rel="stylesheet",type="text/css")
  link(href="/doi/css/uniform.default.css", rel="stylesheet",type="text/css")
  link(href="/doi/css/colorbox.css", rel="stylesheet",type="text/css")
  link(href="/doi/css/jquery.cleditor.css", rel="stylesheet",type="text/css")
  link(href="/doi/css/jquery.noty.css", rel="stylesheet",type="text/css")
  link(href="/doi/css/noty_theme_default.css", rel="stylesheet",type="text/css")
  link(href="/doi/css/elfinder.min.css", rel="stylesheet",type="text/css")
  link(href="/doi/css/elfinder.theme.css", rel="stylesheet",type="text/css")
  link(href="/doi/css/jquery.iphone.toggle.css", rel="stylesheet",type="text/css")
  link(href="/doi/css/opa-icons.css", rel="stylesheet",type="text/css")
  link(href="/doi/css/uploadify.css", rel="stylesheet",type="text/css")
  link(href="/doi/css/dynatree/ui.dynatree.css", rel="stylesheet",type="text/css")
  link(href="/doi/css/modal.css" rel="stylesheet")
  script(src="/doi/js/core.js")
    
html
  body
    // (style="display:none")
    div#uname #{uname}
    div#creator_nid Creator NID: #{creator_nid}
    div#creator_number Creator UID: #{creator_number}
    div#creator_uname Creator Username: #{creator_uname}
    div#creator_name Creator Name: #{creator_name}
    div#creator_email Creator Email: #{creator_email}
    div#spec_resources Resources: #{resource}
    
    div Resource Length: #{resource.length} 
    
    - if (typeof(resource) !== 'undefined') {
      - each r in resource
        div Resource: #{r} 
    - }
    

    //- if (typeof(fileNids) !== 'undefined') {
      - each f in fileNids
        div File Nids: #{f} 

    - if (typeof(file_nids) !== 'undefined') {
      - each f in file_nids
        div File Nid: #{f} 
    - }
    
    - if (typeof(group_nids) !== 'undefined') {
      - each g in group_nids
        div Group Nid: #{g} 
    - }
    
    - if (typeof(tag_nids) !== 'undefined') {
      - each t in tag_nids
        div Tag Nid: #{t} 
    - }
    
    - if (typeof(job) !== 'undefined'){ 
      - each j in job
        if j != 'job1'
          div(style="display:none") Job: #{j}   
    - }  
    
    - if (typeof(group) !== 'undefined'){ 
      - each g in groupName
        if g != 'group1'
          div(style="display:none") Group: #{g}
    - }
    - if (typeof(user) !== 'undefined'){ 
      - each u in personName
        if u != 'user1'
          div(style="display:none") User: #{u} 
    - }
          
    div.navbar
      div.navbar-inner 
        div.container-fluid
          div.top-nav.nav-collapse
            ul.nav
              li 
                a(href="../settings/#{uname}") #{uname}
              li
                a(href="../workspace/#{uname}") Workspace
              li
                form.navbar-search.pull-left
                  input(placeholder="Search this workspace",name="query",type="text").search-query.span2
              
          div.btn-group.pull-right
            ul.nav
              a.btn.dropdown-toggle(data-toggle="dropdown",href="#")
                i.icon-user
                span.hidden-phone #{uname}
                span.caret
              ul.dropdown-menu
                li
                  a(href="#") Profile
                li.divider
                li
                  a(href="login.html") Logout
                li.divider
                li
                  a#j1s.user_dropdown_list(role="menuitem",tabindex="-1",href="#") 1qk
                li(role="presentation")
                  a#j1s.user_dropdown_list(role="menuitem",tabindex="-1",href="#") jamroz
                li(role="presentation")
                  a#8xo.user_dropdown_list(role="menuitem",tabindex="-1",href="#") 8xo
                li(role="presentation")
                  
        
    div.container-fluid
    
      div.row-fluid
        div.span12
          div
            ul.breadcrumb
              li
                a(href="#")
                  span#user_id_label #{uname}
                span.divider /
              li
                a(href="#") DOI
      div.row-fluid
        div.span12#user_info_space
     
      div.row-fluid
        div.span12
          div
            p.user_info
      
      div.row-fluid
      
        //left bar
        div.span2.main-menu-span 
          div.well.nav-collapse.sidebar-nav
            ul.nav.nav-tabs.nav-stacked.main-menu
              li.nav-header.hidden-tablet Main
              li
                a.ajax-link(href="#")
                  span.hidden-tablet Manage DOIs
              // li.nav-header.hidden-tablet DOIs
              li
                a.ajax-link(href="#")
                  span.hidden-tablet Add DOI
              li
                a.ajax-link(href="#")
                  span.hidden-tablet Update DOI
              li
                a.ajax-link(href="#")
                  span.hidden-tablet Search DOIs
        
        
        //main content
        div.span8     
      
          div.row-fluid.sortable
            div.span12
              div.box.span12
                div.box-header.well
                  h2 New DOI Form
                  div.box-icon
                    a.btn.btn-minimize.btn-round(href="#")
                      i.icon-chevron-up
                    a.btn.btn-close.btn-round(href="#")
                      i.icon-remove
             
                div.box-content
                  div.row-fluid
                    div.span12 
                      fieldset
                        legend DOI Submission Form
       
                  // GENERAL
                  div.row-fluid(style="margin-bottom:20px") 
                    div.span12
                      h3 General
                  div.row-fluid
                    div.span4 DOI Title
                    div.span6 
                      input#text(name="input_title")
                  div.row-fluid(style="margin-bottom:20px")
                    div.span4 Description
                    div.span6 
                      input#text(name="input_description")
                      
                  // CREATOR INFORMATION
                  div.row-fluid(style="margin-bottom:20px") 
                    div.span12
                      h3 Creator Information
                  div.row-fluid
                    div.span4 Creator
                    div.span6 
                      input#text(name="input_creator_name", value="#{creator_name}")
                  div.row-fluid
                    div.span4 Creator Email
                    div.span6
                      input#text(name="input_creator_email", value="#{creator_email}")
                  
                  div.row-fluid#add_creator_row
                    div.span6 
                      //button#add_creator_button Add Creator
                      
                      
                  // ASSETS
                  div.row-fluid(style="margin-bottom:20px,margin-top:20px;")
                    div.span12  
                      h3 Assets
                      br
                  div.row-fluid
                    div.span4 Files
                    div.span6 
                      input#text(name="input_files",value="#{resource}")
                      input(name="file_nids", type="hidden", value="#{file_nids}")
                      input(name="group_nids", type="hidden", value="#{group_nids}")
                      
                      input(name="tag_nids",type="hidden",value="#{tag_nids}")
                  br
                  
                  // KEYWORDS
                  div.row-fluid(style="margin-bottom:20px")
                    div.span12
                      h3 Keywords
                   
                  div.row-fluid
                    div.span4 Keywords (comma-separated list)
                    div.span6
                      //input(name="groupName", type="hidden", value=#{groupName}) 
                      input#text(name="input_keywords",value="")
                      
                  br
                  
                  // MISCELLANEOUS
                  div.row-fluid(style="margin-bottom:20px")
                    div.span12
                      h3 Miscellaneous
                      
                  div.row-fluid
                    div.span4 Resources
                    div.span6 
                      input#text(name="input_resources")
                    div.span2
                  
                  div.row-fluid
                    div.span4 Language
                    div.span6 
                      input#text(name="input_language", value="English")
                  
                  //div.row-fluid
                    div.span4 Country
                    div.span6 
                      input#text(name="input_country", value="USA")
                  
                  div.row-fluid
                    div.span4 Sponsor Organization
                    div.span6 
                      input#text(name="input_sponsor_org", value="Oak Ridge National Laboratory")
                  
                  div.row-fluid
                    div.span4 Jobs and Applications
                    div.span6 
                      textarea #{job} 
                        | #{app}
                  div.row-fluid
                    div.span4 People and Groups
                    div.span6 
                      textarea #{group} 
                        | #{user}
                  
                  hr
                  
                  div.row-fluid
                    div.span6 
                      button#submit_doi_request Submit DOI Request
                      button#return Return to Workspace
                  

    script(src="/doi/js/jquery/jquery-1.7.2.min.js")
    script(src="/doi/js/jquery/jquery-ui-1.8.21.custom.min.js")
    script(src="/doi/js/bootstrap/bootstrap-transition.js")
    script(src="/doi/js/bootstrap/bootstrap-alert.js")
    script(src="/doi/js/bootstrap/bootstrap-modal.js")
    script(src="/doi/js/bootstrap/bootstrap-dropdown.js")
    script(src="/doi/js/bootstrap/bootstrap-scrollspy.js")
    script(src="/doi/js/bootstrap/bootstrap-tab.js")
    script(src="/doi/js/bootstrap/bootstrap-tooltip.js")
    script(src="/doi/js/bootstrap/bootstrap-popover.js")
    script(src="/doi/js/bootstrap/bootstrap-button.js")
    script(src="/doi/js/bootstrap/bootstrap-collapse.js")
    script(src="/doi/js/bootstrap/bootstrap-carousel.js")
    script(src="/doi/js/bootstrap/bootstrap-typeahead.js")
    script(src="/doi/js/bootstrap/bootstrap-tour.js")
    script(src="/doi/js/jquery/jquery.cookie.js")
    script(src="/doi/js/fullcalendar.min.js")
    script(src="/doi/js/jquery/jquery.dataTables.min.js")
    script(src="/doi/js/excanvas.js")
    script(src="/doi/js/jquery/jquery.flot.min.js")
    script(src="/doi/js/jquery/jquery.flot.pie.min.js")
    script(src="/doi/js/jquery/jquery.dataTables.min.js")
    script(src="/doi/js/jquery/jquery.flot.stack.js")
    script(src="/doi/js/jquery/jquery.flot.resize.min.js")
    script(src="/doi/js/jquery/jquery.chosen.min.js")
    script(src="/doi/js/jquery/jquery.uniform.min.js")
    script(src="/doi/js/jquery/jquery.colorbox.min.js")
    script(src="/doi/js/jquery/jquery.cleditor.min.js")
    script(src="/doi/js/jquery/jquery.noty.js")
    script(src="/doi/js/jquery/jquery.elfinder.min.js")
    script(src="/doi/js/jquery/jquery.raty.min.js")
    script(src="/doi/js/jquery/jquery.iphone.toggle.js")
    script(src="/doi/js/jquery/jquery.autogrow-textarea.js")
    script(src="/doi/js/jquery/jquery.uploadify-3.1.min.js")
    script(src="/doi/js/jquery/jquery.history.js")
    script(src='/doi/js/tablesorter-master/js/jquery.tablesorter.js')
    script(src="/doi/js/charisma.js")
    script(src="/doi/js/jquery/jquery.dynatree.min.js")
    script(src="/doi/js/main.js")
    script(src="/doi/js/ajax/doi.js")
    
