doctype html 
head
  title ORNL Scientific Workspace
  link(id="bs-css", href="/doi/css/bootstrap-cerulean.css", rel="stylesheet",type="text/css")
  link(href="/doi/css/bootstrap-responsive.css", rel="stylesheet",type="text/css")
  link(href="/doi/css/charisma-app.css", rel="stylesheet",type="text/css")
  link(href="/doi/css/jquery-ui-1.8.21.custom.css", rel="stylesheet",type="text/css")
  link(href="/doi/css/fullcalendar.css", rel="stylesheet",type="text/css")
  link(href="/doi/css/fullcalendar.print.css", rel="stylesheet",type="text/css")
  link(href="/doi/css/chosen.css", rel="stylesheet",type="text/css")
  link(href="/doi/css/uniform.default.css", rel="stylesheet",type="text/css")
  link(href="/doi/css/colorbox.css", rel="stylesheet",type="text/css")
  link(href="/doi/css/jquery.cleditor.css", rel="stylesheet",type="text/css")
  link(href="/doi/css/jquery.noty.css", rel="stylesheet",type="text/css")
  link(href="/doi/css/noty_theme_default.css", rel="stylesheet",type="text/css")
  link(href="/doi/css/elfinder.min.css", rel="stylesheet",type="text/css")
  link(href="/doi/css/elfinder.theme.css", rel="stylesheet",type="text/css")
  link(href="/doi/css/jquery.iphone.toggle.css", rel="stylesheet",type="text/css")
  link(href="/doi/css/opa-icons.css", rel="stylesheet",type="text/css")
  link(href="/doi/css/uploadify.css", rel="stylesheet",type="text/css")
  link(href="/doi/css/dynatree/ui.dynatree.css", rel="stylesheet",type="text/css")
  link(href="/doi/css/modal.css" rel="stylesheet")
  script(src="/doi/js/core.js")
    
    
html
  body
    
    
    //div Selected Uuids:
    //  span#echoSelectionUuids3
    //div Selected Types:
    //  span#echoSelectionTypes3
    
    div#myModal.modal.fade(tabindex="-1",role="dialog",aria-labelledby="myModalLabel",aria-hidden="true")
      div.modal-dialog
        div.modal-header
          button.close(type="button",data-dismiss="modal",aria-hidden="true")
          h4#myModalLabel.modal-title Tag Information
        div.modal-body
          div Tag Name:
          input#tag_name.form-control.create_tree_options(style="margin-bottom:10px")
          div Tag Description:
          textarea#tag_description.form-control(rows="3",placeholder="Tag description",style="margin-bottom:10px")
          div Resources:
          div#resources_to_tag(style="margin-bottom:10px")
          div Types:
          div#resources_types_to_tag(style="margin-bottom:10px")
          div Share with:
          div#shared_users(style="margin-bottom:10px") Insert Options for people, groups, etc
        div.modal-footer
          button.btn.btn-default(data-dismiss="modal") Cancel
          button#create_tag.btn.btn-primary Create Tag
          
    div.navbar
      div.navbar-inner 
        div.container-fluid
          div.top-nav.nav-collapse
            ul.nav
              li 
                a(href="#") #{uid}
              li
                a(href="../workspace/#{uid}") Workspace
              li
                a(href="../doi/#{uid}") DOI
              li
                form.navbar-search.pull-left
                  input(placeholder="Search this workspace",name="query",type="text").search-query.span2
              
          div.btn-group.pull-right
            ul.nav
              a.btn.dropdown-toggle(data-toggle="dropdown",href="#")
                i.icon-user
                span.hidden-phone #{uid}
                span.caret
              ul.dropdown-menu
                li
                  a(href="#") Profile
                li.divider
                li
                  a(href="login.html") Logout
                li.divider
                li
                  a#j1s.user_dropdown_list(role="menuitem",tabindex="-1",href="#") 1qk
                li(role="presentation")
                  a#j1s.user_dropdown_list(role="menuitem",tabindex="-1",href="#") jamroz
                li(role="presentation")
                  a#8xo.user_dropdown_list(role="menuitem",tabindex="-1",href="#") 8xo
                li(role="presentation")
                  
        
    div.container-fluid
    
      div.row-fluid
        div.span12
          div
            ul.breadcrumb
              li
                a(href="#")
                  span#user_id_label #{uid}
                span.divider /
              li
                a(href="#") DOI
      div.row-fluid
        div.span12#user_info_space
     
      div.row-fluid
        div.span12
          div
            p.user_info
      
      div.row-fluid
      
        //left bar
        div.span2.main-menu-span 
          div.well.nav-collapse.sidebar-nav
            ul.nav.nav-tabs.nav-stacked.main-menu
              li.nav-header.hidden-tablet Main
              li
                a.ajax-link(href="#")
                  span.hidden-tablet Manage DOIs
              // li.nav-header.hidden-tablet DOIs
              li
                a.ajax-link(href="#")
                  span.hidden-tablet Add DOI
              li
                a.ajax-link(href="#")
                  span.hidden-tablet Remove DOI
          //  button#add_tag_button.btn.btn-primary.btn-lg(data-toggle="modal",data-target="#myModal",style="margin-bottom:50px") Add Tag
          // <i class="icon-home"></i><span class="hidden-tablet"> Dashboard</span>
        
        //main content
        div.span8     
      
          div.row-fluid.sortable
            div.span12
              div.box.span12
                div.box-header.well
                  h2 New DOI Form
                    i.icon-user
                  div.box-icon
                    a.btn.btn-minimize.btn-round(href="#")
                      i.icon-chevron-up
                    a.btn.btn-close.btn-round(href="#")
                      i.icon-remove
             
                div.box-content
                  div.row-fluid
                    div.span12 
                      fieldset
                        legend DOI Submittal Form
                
      
            
    script(src="/doi/js/jquery/jquery-1.7.2.min.js")
    script(src="/doi/js/jquery/jquery-ui-1.8.21.custom.min.js")
    script(src="/doi/js/bootstrap/bootstrap-transition.js")
    script(src="/doi/js/bootstrap/bootstrap-alert.js")
    script(src="/doi/js/bootstrap/bootstrap-modal.js")
    script(src="/doi/js/bootstrap/bootstrap-dropdown.js")
    script(src="/doi/js/bootstrap/bootstrap-scrollspy.js")
    script(src="/doi/js/bootstrap/bootstrap-tab.js")
    script(src="/doi/js/bootstrap/bootstrap-tooltip.js")
    script(src="/doi/js/bootstrap/bootstrap-popover.js")
    script(src="/doi/js/bootstrap/bootstrap-button.js")
    script(src="/doi/js/bootstrap/bootstrap-collapse.js")
    script(src="/doi/js/bootstrap/bootstrap-carousel.js")
    script(src="/doi/js/bootstrap/bootstrap-typeahead.js")
    script(src="/doi/js/bootstrap/bootstrap-tour.js")
    script(src="/doi/js/jquery/jquery.cookie.js")
    script(src="/doi/js/fullcalendar.min.js")
    script(src="/doi/js/jquery/jquery.dataTables.min.js")
    script(src="/doi/js/excanvas.js")
    script(src="/doi/js/jquery/jquery.flot.min.js")
    script(src="/doi/js/jquery/jquery.flot.pie.min.js")
    script(src="/doi/js/jquery/jquery.dataTables.min.js")
    script(src="/doi/js/jquery/jquery.flot.stack.js")
    script(src="/doi/js/jquery/jquery.flot.resize.min.js")
    script(src="/doi/js/jquery/jquery.chosen.min.js")
    script(src="/doi/js/jquery/jquery.uniform.min.js")
    script(src="/doi/js/jquery/jquery.colorbox.min.js")
    script(src="/doi/js/jquery/jquery.cleditor.min.js")
    script(src="/doi/js/jquery/jquery.noty.js")
    script(src="/doi/js/jquery/jquery.elfinder.min.js")
    script(src="/doi/js/jquery/jquery.raty.min.js")
    script(src="/doi/js/jquery/jquery.iphone.toggle.js")
    script(src="/doi/js/jquery/jquery.autogrow-textarea.js")
    script(src="/doi/js/jquery/jquery.uploadify-3.1.min.js")
    script(src="/doi/js/jquery/jquery.history.js")
    script(src='/doi/js/tablesorter-master/js/jquery.tablesorter.js')
    script(src="/doi/js/charisma.js")
    script(src="/doi/js/jquery/jquery.dynatree.min.js")
    script(src="/doi/js/main.js")
    script(src="/doi/js/ajax/doi.js")
    // script(src="js/ajax/jobtree.js")
    // script(src="js/ajax/filetree.js")
    // script(src="js/ajax/jobs_widget.js")
    // script(src="js/ajax/userinfo.js")
    // script(src="js/ajax/tagTree.js")
    // script(src="js/ajax/tagstable.js")
    // script(src="js/ajax/tagclouds.js")
    // script(src="js/addtag.js")
