doctype html
head
  title ORNL Constellate
  link(id="bs-css", href="css/bootstrap-cerulean.css", rel="stylesheet", type="text/css")
  link(href="css/bootstrap-responsive.css", rel="stylesheet", type="text/css")
  link(href="css/charisma-app.css", rel="stylesheet", type="text/css")
  link(href="css/jquery-ui-1.8.21.custom.css", rel="stylesheet", type="text/css")
  link(href="css/fullcalendar.css", rel="stylesheet", type="text/css")
  link(href="css/fullcalendar.print.css", rel="stylesheet", type="text/css")
  link(href="css/chosen.css", rel="stylesheet", type="text/css")
  link(href="css/uniform.default.css", rel="stylesheet", type="text/css")
  link(href="css/colorbox.css", rel="stylesheet", type="text/css")
  link(href="css/jquery.cleditor.css", rel="stylesheet", type="text/css")
  link(href="css/jquery.noty.css", rel="stylesheet", type="text/css")
  link(href="css/noty_theme_default.css", rel="stylesheet", type="text/css")
  link(href="css/elfinder.min.css", rel="stylesheet", type="text/css")
  link(href="css/elfinder.theme.css", rel="stylesheet", type="text/css")
  link(href="css/jquery.iphone.toggle.css", rel="stylesheet", type="text/css")
  link(href="css/opa-icons.css", rel="stylesheet", type="text/css")
  link(href="css/uploadify.css", rel="stylesheet", type="text/css")
  link(href="css/dynatree/ui.dynatree.css", rel="stylesheet", type="text/css")
  link(href="css/modal.css" rel="stylesheet")
  
  link(href="css/DataTables/jquery.dataTables_themeroller.css", rel="stylesheet")
  link(href="css/DataTables/jquery.dataTables.css", rel="stylesheet")
  link(href="css/DataTables/demo_table_jui.css", rel="stylesheet")
  //link(href="css/DataTables/ColVis/ColVis.css", rel="stylesheet")
  
  script(src="js/core.js")
  script(src="js/sampledata.js")
    
html(lang="en")
  body
    
    //DOI modal
    // div#doiModal.modal.fade(tabindex="-1",role="dialog",aria-labelledby="doiModalLabel",aria-hidden="true")
      div.modal-dialog
        div.modal-header
          button.close(type="button",data-dismiss="modal",aria-hidden="true")
          h4#myModalLabel.modal-title DOI 
        div.modal-body
          div Add the following resources to DOI form?
          div#resources_to_doi(style="margin-bottom:10px")
        div.modal-footer
          button.btn.btn-default(data-dismiss="modal") Cancel
          button#create_doi_button.btn.btn-primary Create DOI form
       
    
    div#myModal.modal.fade(tabindex="-1",role="dialog",aria-labelledby="myModalLabel",aria-hidden="true")
      div.modal-dialog
        div.modal-header
          button.close(type="button",data-dismiss="modal",aria-hidden="true")
          h4#myModalLabel.modal-title Tag Information
        div.modal-body
          div Tag Name:
          input#tag_name.form-control.create_tree_options(placeholder="Tag name",style="margin-bottom:10px;margin-top:10px")
          div Tag Description:
          textarea#tag_description.form-control(rows="3",placeholder="Tag description",style="margin-bottom:10px;margin-top:10px")
          div Resources:
          div#resources_to_tag(style="margin-bottom:10px")
          div Types:
          div#resources_types_to_tag(style="margin-bottom:10px")
          div Share with:
          div#shared_users(style="margin-bottom:10px") Insert Options for people, groups, etc
          div Files:
          div#files_to_tag(style="margin-bottom:10px")
        div.modal-footer
          button.btn.btn-default(data-dismiss="modal") Cancel
          button#create_tag.btn.btn-primary Create Tag
      
      
    div#tableModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
      div.modal-dialog
        div.modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true")
          h4#tableModalLabel.modal-title Tags Table
        
        div.modal-body.box-content#tagsTableContainer(style="margin-top:10px; max-height:550px; width:750px; overflow:auto")
          table#tagsTable.display.dataTable
            thead
              tr
                th type
                th uuid
                th tagdesc
                th tagname
                th uid
                th visibility
                th wtime
            tbody
        div.modal-footer
          button.btn.btn-default(data-dismiss="modal") Cancel
      
    div.navbar
      div.navbar-inner 
        div.container-fluid
          div.top-nav.nav-collapse
            ul.nav
              li 
                a(href="../settings/#{uid}") #{uid}
              li
                a(href="../workspace/#{uid}") Workspace
              li
                a(href="../doi/#{uid}") DOI
              li
                form.navbar-search.pull-left
                  input(placeholder="Search this workspace",name="query",type="text").search-query.span2
              
          div.btn-group.pull-right
            ul.nav
              a.btn.dropdown-toggle(data-toggle="dropdown",href="#")
                i.icon-user
                span.hidden-phone #{uid}
                span.caret
              ul.dropdown-menu
                li
                  a(href="#") Profile
                li.divider
                li
                  a(href="login.html") Logout
                li.divider
                li
                  a#j1s.user_dropdown_list(role="menuitem",tabindex="-1",href="#") 1qk
                li(role="presentation")
                  a#j1s.user_dropdown_list(role="menuitem",tabindex="-1",href="#") jamroz
                li(role="presentation")
                  a#8xo.user_dropdown_list(role="menuitem",tabindex="-1",href="#") 8xo
                li(role="presentation")
        
    div.container-fluid
    
      div.row-fluid
        div.span12
          div
            ul.breadcrumb
              li
                a(href="#")
                  span#user_id_label #{uid}
                span.divider /
              li
                a#tag_create(href="#") Workspace
      div.row-fluid
        div.span12#user_info_space
                
      div.row-fluid
        div.span12
          div
            p.user_info
            
      div.row-fluid
      
        // LEFT MENU PANEL
        div.span2.main-menu-span 
          div.well.nav-collapse.sidebar-nav
            ul.nav.nav-tabs.nav-stacked.main-menu
              li.nav-header.hidden-tablet Main
              li
                a#create_doi_button(href="#")
                  span.hidden-tablet Create DOI
              li.nav-header.hidden-tablet Tags
              li
                a#add_tag_button.ajax-link(data-toggle="modal", data-target="#myModal", href="#")
                  span.hidden-tablet Add Tag
              li
                a.ajax-link(href="#")
                  span.hidden-tablet Remove Tag
              li
                a#show_table_button.ajax-link(data-toggle="modal", data-target="#tableModal", style="margin-bottom:50px", href="#")
                  span.hidden-tablet Review Tags
                  
        //main content
        div.span8
          div.row-fluid.sortable
          
            // COLLABORATORS
            div#collabBox.box.span4
              div.box-header.well
                span#collabSearchIcon(style="cursor:default")
                  h2 Collaborators
                  i.icon-search#collabSearchIcon(title="Search Collaborators",style="margin-top:5px;margin-bottom:12px;margin-left:12px;margin-right:12px;padding:5px")
                div.box-icon
                  //a.btn.btn-minimize.btn-round(href="#")
                    //i.icon-chevron-up
                  a.btn.btn-close.btn-round(href="#")
                    i.icon-remove
              div.box-content
                span#collabSearchPanel(style="display:none;position:absolute;z-index:1;border-style:none;background-color:white")
                  input#collabSearchText(type="text", style="width:100px")
                  button#collabSearchButton Search
                  button#clearCollabSearchTextButton Clear
                div#collaborators_tree(style="height:200px") 

            // PROJECT SPACE
            div#projectsBox.box.span4
              // (All the "box" classes are defined in the file charisma-app.css.
              div.box-header.well
                h2 Project Space
                div.box-icon
                  a.btn.btn-minimize.btn-round(href="#")
                    i.icon-chevron-up
                  a.btn.btn-close.btn-round(href="#")
                    i.icon-remove
              div.box-content 
                div#files_tree(style="height:200px")

            // JOBS
            div.box.span4
              div.box-header.well
                span#jobSearchIcon(style="cursor:default")
                  h2 Jobs
                  i.icon-search(title="Search Jobs",style="margin-top:5px;margin-bottom:12px;margin-left:12px;margin-right:12px")
                div.box-icon
                  a.btn.btn-minimize.btn-round(href="#")
                    i.icon-chevron-up
                  a.btn.btn-close.btn-round(href="#")
                    i.icon-remove
              div.box-content
                span#jobsSearchPanel(style="display:none;position:absolute;z-index:1;border-style:none;background-color:white")
                  input#jobsSearchText(type="text", style="width:100px")
                  button#jobsSearchButton Search
                  button#clearJobsSearchTextButton Clear
                div#jobs_tree(style="height:200px")
          
          // TAG CLOUD
          div.row-fluid.sortable
            div.box.span12
              div.box-header.well
                span#jobSearchIcon
                  h2 Tag Cloud
                div.box-icon
                  a.btn.btn-minimize.btn-round(href="#")
                    i.icon-chevron-up
                  a.btn.btn-close.btn-round(href="#")
                    i.icon-remove
              div.box-content
                div.row-fluid
                  div.span8
                    div#tagClouds(style="margin-top:10px;")
                  div.span4
                    div#tagCloudInfo
                
          div.row-fluid.sortable
            div.span12
              div.box.span12
                div.box-header.well
                  h2 Info
                    //i.icon-user
                  div.box-icon
                    a.btn.btn-minimize.btn-round(href="#")
                      i.icon-chevron-up
                    a.btn.btn-close.btn-round(href="#")
                      i.icon-remove
                div.box-content
                  h3 User Info
                  div#user_info
                  h3 Collaborators Info
                  div#collaborator_info
                  h3 File Info
                  div#file_info
                  h3 Job/Type Info 
                  div#job_info
                  h3 App Info
                  div#app_info
        
        //feed
        div.span2
          h3 My Feed
      
            
    script(src="js/jquery/jquery-1.7.2.min.js")
    script(src="js/jquery/jquery-ui-1.8.21.custom.min.js")
    script(src="js/bootstrap/bootstrap-transition.js")
    script(src="js/bootstrap/bootstrap-alert.js")
    script(src="js/bootstrap/bootstrap-modal.js")
    script(src="js/bootstrap/bootstrap-dropdown.js")
    script(src="js/bootstrap/bootstrap-scrollspy.js")
    script(src="js/bootstrap/bootstrap-tab.js")
    script(src="js/bootstrap/bootstrap-tooltip.js")
    script(src="js/bootstrap/bootstrap-popover.js")
    script(src="js/bootstrap/bootstrap-button.js")
    script(src="js/bootstrap/bootstrap-collapse.js")
    script(src="js/bootstrap/bootstrap-carousel.js")
    script(src="js/bootstrap/bootstrap-typeahead.js")
    script(src="js/bootstrap/bootstrap-tour.js")
    script(src="js/jquery/jquery.cookie.js")
    script(src="js/fullcalendar.min.js")
    
    script(src="js/jquery/DataTables/jquery.dataTables.js")
    script(src="js/jquery/DataTables/ColVis/ColVis.js")
    
    script(src="js/excanvas.js")
    script(src="js/jquery/jquery.flot.min.js")
    script(src="js/jquery/jquery.flot.pie.min.js")
    script(src="js/jquery/jquery.flot.stack.js")
    script(src="js/jquery/jquery.flot.resize.min.js")
    script(src="js/jquery/jquery.chosen.min.js")
    script(src="js/jquery/jquery.uniform.min.js")
    script(src="js/jquery/jquery.colorbox.min.js")
    script(src="js/jquery/jquery.cleditor.min.js")
    script(src="js/jquery/jquery.noty.js")
    script(src="js/jquery/jquery.elfinder.min.js")
    script(src="js/jquery/jquery.hovercard.min.js")
    script(src="js/jquery/jquery.raty.min.js")
    script(src="js/jquery/jquery.iphone.toggle.js")
    script(src="js/jquery/jquery.autogrow-textarea.js")
    script(src="js/jquery/jquery.uploadify-3.1.min.js")
    script(src="js/jquery/jquery.history.js")
    script(src="js/charisma.js")
    script(src="js/jquery/jquery.dynatree.min.js")
    script(src="js/ajax/userinfo.js")
    script(src="js/ajax/groupinfo.js")
    script(src="js/ajax/fileinfo.js")
    script(src="js/ajax/jobinfo.js")
    
    script(src="js/main.js")
    
    // script(src="js/ajax/jobtree.js")
    // script(src="js/ajax/filetree.js")
    // script(src="js/ajax/jobs_widget.js")
    
    script(src="js/ajax/tagTree.js")
    script(src="js/ajax/tagstable.js")
    script(src="js/ajax/tagclouds.js")
    script(src="js/add_tag.js")
    // script(src="js/add_tag.js")
    script(src="js/add_doi.js")
